# suggested build result and log filenames
raspi*.img
raspi*.img.xz
raspi*.log
raspi*.tar.gz
raspi*.sha256
raspi_base_buster.yaml
raspi_1_buster.yaml
raspi_2_buster.yaml
raspi_3_buster.yaml
raspi_4_buster.yaml
raspi_base_bullseye.yaml
raspi_1_bullseye.yaml
raspi_2_bullseye.yaml
raspi_3_bullseye.yaml
raspi_4_bullseye.yaml
